<h1>About Y</h1>
<p class="lead">Learn more about my proyect Y</p>
<div class="mt-4">
  <p>This is my first page created with ruby on rails.</p>
  <p>The page tries to be a simple copy of twitter, with name Y.</p>
  <p>The page complies with being responsive, having bootstrap styles and having a contact form.</p>
</div>