<figure class="text-center">
  <blockquote class="blockquote">
  <h1 class="display-1">Welcome to my proyect Y</h1>
  </blockquote>
  <figcaption class="blockquote-footer">
    <cite title="Source Title">Martin Sandoval</cite>
  </figcaption>
</figure>