<footer class="mt-5 py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <p class="mb-0">&copy; <%= Time.now.year %> All rights reserved.</p>
      </div>
      <div class="col-md-6 text-end">
        <a href="#" class="text-decoration-none me-2"><i class="bi bi-facebook"></i></a>
        <a href="#" class="text-decoration-none me-2"><i class="bi bi-instagram"></i></a>
      </div>
    </div>
  </div>
</footer>